*, *::before, *::after {
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 0;
  margin: 0;
  font-weight: normal;
  
}

body {
  background: linear-gradient(
    to right,
    hsl(200, 100%, 50%),
    hsl(175, 100%, 50%)
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.title {
  display: flex;
  justify-content: center;
  color:#124096;
  margin-top: 5px;
}

.container {
 
  height: 600px;
  width: 900px;
 display:flex;
 flex-direction: column;
  border: 3px solid skyblue;
  
  
}


.goals-data {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.home-team{
  margin-left: 40px;
  
  
}

.away-team {
  margin-left: 70px;
}

input {
  margin-top: 7px;
  width: 350px;
  height: 25px;
  padding-left: 35px;
  outline: none;
  border: 0;

}

.home-results, .away-results ,.total-results, .recomended-bet{
  margin-top: 10px;
  width: 55px;
  height: 25px;
  margin-left: 150px;
  padding-left: 10px;
  outline: none;
  border: 0;
  
  
}
.home-submit-button, .away-submit-button, .calculate-total-average-button, .total-average-button, .calculate-chances {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6px 14px;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", sans-serif;
  border-radius: 6px;
  border: none;
  margin-top: 4px;
  color: #fff;
  background: linear-gradient(180deg, #4b91f7 0%, #367af6 100%);
  background-origin: border-box;
  box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25),
    inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.home-submit-button:focus, .away-submit-button:focus, .calculate-total-average-button:focus, .total-average-button:focus, .calculate-chances:focus {
  box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2),
    0px 0.5px 1.5px rgba(54, 122, 246, 0.25),
    0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
  outline: 0;
}

.main-box{
  display: flex;
  flex-direction: column;
  
}

.total-home-average, .total-away-average {
  margin-left: 370px;
  width: 150px;
  
}

.home-visitors {
  margin-top: 4px;
  margin-left: 150px;
  
}

.total-average-button {
  margin-left: 270px;
}

.total-results {
  margin-left: 416px;
}

h5{
  margin-top: 20px;
  font-family:Arial, Helvetica, sans-serif;
  color:rgb(7, 7, 139);
  font-size: 15px;
  font-weight: 750;
  margin-bottom: 5px;
}

footer {
  display: flex;
  flex-direction: column;
}

.calculate-chances {
  margin-left: 270px;
  padding-left: 40px;
  margin-top: 4px;
  display: flex;
  flex-direction: column;
}

.recomended-bet {
  margin-left: 5px;
  margin-left: 190px;
  width: 500px;
  padding-left: 15px;
}

.main-box-text {
  margin-top: 5px;
  margin-left: 210px;
  font-family:Arial, Helvetica, sans-serif;
  color:rgb(32, 35, 226);
  font-size: 13px;
  font-weight: 750;
  
}

.host-total-average-goals, .guest-total-average-goals, .here-total-average-goals{
  margin-left: 270px;
  font-family:Arial, Helvetica, sans-serif;
  color:rgb(16, 179, 11);
  font-size: 13px;
  font-weight: 800;
}

h3 {
  margin-left: 175px;
  margin-top: 10px;
  color:hsl(200, 100%, 20%)
  
}


.home-results, .away-results ,.total-results{
  font-family:Arial, Helvetica, sans-serif;
  color:rgb(16, 179, 11);
  font-size: 13px;
  font-weight: 800;
}

.recomended-bet {
  font-family:Arial, Helvetica, sans-serif;
  color:rgb(223, 11, 11);
  font-size: 13px;
  font-weight: 650;
  padding-left: 7px;
}

.home-games-with-3-goals, .home-games, .away-games-with-3-goals, .away-games {
  font-family:Arial, Helvetica, sans-serif;
  color:rgb(16, 179, 11);
  font-size: 13px;
  font-weight: 900;
}